.toast {
  text-align: center;
  --width: fit-content;
}

.top-balance {
  margin-right: 3em;
}

.tiny-labels {
  color: rgba(22, 50, 100, 0.8);
  font-size: small;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
