<?xml version='1.0' encoding='utf-8'?>
<manifest package="capacitor.android.plugins"
xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:amazon="http://schemas.amazon.com/apk/res/android">
<application  >
<meta-data android:name="firebase_analytics_collection_enabled" android:value="true"/>
<meta-data android:name="google_analytics_automatic_screen_reporting_enabled" android:value="true"/>
</application>
<uses-permission android:name="android.permission.INTERNET"/>
</manifest>